#app{
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 1200px;
  
  .sidebar-container{
    transition: width .3s;
    width: 210px;
    height: 100%;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background: #304156;
  }
  .main-container{
    margin-left: 210px;
    .fixed-posi{
      position: fixed;
      top: 0;
      left: 210px;
      right: 0;
      z-index:999;
    }
    .main-content{
      margin-top: 100px;
      position: relative;
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 64px !important;
    }
    .main-container {
      margin-left: 64px;
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
}